In [2]:
# Basic EDA of two datasets
# Dataset 1: California Housing Prices

import kagglehub
import pandas as pd

# 1. Dataset overview
# Download latest version
path = kagglehub.dataset_download("camnugent/california-housing-prices")

Warning: Looks like you're using an outdated `kagglehub` version, please consider updating (latest version: 0.3.13)

In [12]:
# Name dataset
housing_df = pd.read_csv(f"{path}/housing.csv")

In [13]:
# Get rows and columns of dataset
housing_df.shape

(20640, 10)

In [ ]:
#Dataset 2: structure of the data

# Download latest version
path_amazon = kagglehub.dataset_download("sujalsuthar/amazon-delivery-dataset")

print("Path to dataset files:", path_amazon)

Warning: Looks like you're using an outdated `kagglehub` version, please consider updating (latest version: 0.3.13)
Downloading from https://www.kaggle.com/api/v1/datasets/download/sujalsuthar/amazon-delivery-dataset?dataset_version_number=1...

100%|██████████| 1.53M/1.53M [00:00<00:00, 2.69MB/s]

Extracting model files...
Path to dataset files: /Users/megankelly/.cache/kagglehub/datasets/sujalsuthar/amazon-delivery-dataset/versions/1

In [6]:
# Name dataset
amazon_df = pd.read_csv(f"{path_amazon}/amazon_delivery.csv")

In [17]:
# Get column names
amazon_df.columns

Index(['Order_ID', 'Agent_Age', 'Agent_Rating', 'Store_Latitude',
       'Store_Longitude', 'Drop_Latitude', 'Drop_Longitude', 'Order_Date',
       'Order_Time', 'Pickup_Time', 'Weather', 'Traffic', 'Vehicle', 'Area',
       'Delivery_Time', 'Category'],
      dtype='object')

In [ ]:
# Get column types
amazon_df.dtypes

Order_ID            object
Agent_Age            int64
Agent_Rating       float64
Store_Latitude     float64
Store_Longitude    float64
Drop_Latitude      float64
Drop_Longitude     float64
Order_Date          object
Order_Time          object
Pickup_Time         object
Weather             object
Traffic             object
Vehicle             object
Area                object
Delivery_Time        int64
Category            object
dtype: object

In [10]:
# Get non-null counts
amazon_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 43739 entries, 0 to 43738
Data columns (total 16 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Order_ID         43739 non-null  object
 1   Agent_Age        43739 non-null  int64
 2   Agent_Rating     43685 non-null  float64
 3   Store_Latitude   43739 non-null  float64
 4   Store_Longitude  43739 non-null  float64
 5   Drop_Latitude    43739 non-null  float64
 6   Drop_Longitude   43739 non-null  float64
 7   Order_Date       43739 non-null  object
 8   Order_Time       43739 non-null  object
 9   Pickup_Time      43739 non-null  object
 10  Weather          43648 non-null  object
 11  Traffic          43739 non-null  object
 12  Vehicle          43739 non-null  object
 13  Area             43739 non-null  object
 14  Delivery_Time    43739 non-null  int64
 15  Category         43739 non-null  object
dtypes: float64(5), int64(2), object(9)
memory usage: 5.3+ MB

In [ ]:
# Get number of unique values in each column
amazon_df.nunique()

Order_ID           43739
Agent_Age             22
Agent_Rating          28
Store_Latitude       521
Store_Longitude      415
Drop_Latitude       4367
Drop_Longitude      4367
Order_Date            44
Order_Time           177
Pickup_Time          193
Weather                6
Traffic                5
Vehicle                4
Area                   4
Delivery_Time         89
Category              16
dtype: int64

In [ ]:
# Get random sample of 5 rows to see example values
amazon_df.sample(5)

,Order_ID,Agent_Age,Agent_Rating,Store_Latitude,Store_Longitude,Drop_Latitude,Drop_Longitude,Order_Date,Order_Time,Pickup_Time,Weather,Traffic,Vehicle,Area,Delivery_Time,Category
16784,rxlj896944852,38,4.6,22.310237,73.158921,22.350237,73.198921,2022-03-19,16:55:00,17:00:00,Windy,Medium,motorcycle,Metropolitian,135,Electronics
5337,dxrl758847749,25,4.5,30.362686,78.068890,30.402686,78.108890,2022-02-13,15:35:00,15:45:00,Stormy,Medium,scooter,Metropolitian,100,Books
26216,gyvu619312967,34,5.0,26.766536,75.837333,26.896536,75.967333,2022-03-14,20:25:00,20:40:00,Fog,Jam,motorcycle,Metropolitian,255,Cosmetics
12430,oesd656963584,39,4.9,11.024839,77.007003,11.104839,77.087003,2022-04-02,22:45:00,22:50:00,Windy,Low,motorcycle,Urban,130,Outdoors
27136,eoup958817341,21,4.8,0.000000,0.000000,0.090000,0.090000,2022-02-18,21:25:00,21:35:00,Stormy,Jam,motorcycle,Metropolitian,150,Jewelry

In [ ]:
summary_2 = pd.DataFrame({"Column name":amazon_df.columns, "Data type": amazon_df.dtypes, "Non-null count": amazon_df.isna(),Unique values":amazon_df.nunique(), "Example values": })
print(summary_2)

                     Column name Data type  Unique values
Order_ID                Order_ID    object          43739
Agent_Age              Agent_Age     int64             22
Agent_Rating        Agent_Rating   float64             28
Store_Latitude    Store_Latitude   float64            521
Store_Longitude  Store_Longitude   float64            415
Drop_Latitude      Drop_Latitude   float64           4367
Drop_Longitude    Drop_Longitude   float64           4367
Order_Date            Order_Date    object             44
Order_Time            Order_Time    object            177
Pickup_Time          Pickup_Time    object            193
Weather                  Weather    object              6
Traffic                  Traffic    object              5
Vehicle                  Vehicle    object              4
Area                        Area    object              4
Delivery_Time      Delivery_Time     int64             89
Category                Category    object             16