In [2]:
# Basic EDA of two datasets
# Dataset 1: California Housing Prices

import kagglehub
import pandas as pd

# 1. Dataset overview
# Download latest version
path = kagglehub.dataset_download("camnugent/california-housing-prices")

Warning: Looks like you're using an outdated `kagglehub` version, please consider updating (latest version: 0.3.13)

In [12]:
# Name dataset
housing_df = pd.read_csv(f"{path}/housing.csv")

In [13]:
# Get rows and columns of dataset
housing_df.shape

(20640, 10)

In [ ]:
#Dataset 2: structure of the data

# Download latest version
path_amazon = kagglehub.dataset_download("sujalsuthar/amazon-delivery-dataset")

print("Path to dataset files:", path_amazon)

Warning: Looks like you're using an outdated `kagglehub` version, please consider updating (latest version: 0.3.13)
Downloading from https://www.kaggle.com/api/v1/datasets/download/sujalsuthar/amazon-delivery-dataset?dataset_version_number=1...

100%|██████████| 1.53M/1.53M [00:00<00:00, 2.69MB/s]

Extracting model files...
Path to dataset files: /Users/megankelly/.cache/kagglehub/datasets/sujalsuthar/amazon-delivery-dataset/versions/1

In [6]:
# Name dataset
amazon_df = pd.read_csv(f"{path_amazon}/amazon_delivery.csv")

In [17]:
# Get column names
amazon_df.columns

Index(['Order_ID', 'Agent_Age', 'Agent_Rating', 'Store_Latitude',
       'Store_Longitude', 'Drop_Latitude', 'Drop_Longitude', 'Order_Date',
       'Order_Time', 'Pickup_Time', 'Weather', 'Traffic', 'Vehicle', 'Area',
       'Delivery_Time', 'Category'],
      dtype='object')

In [ ]:
# Get column types
amazon_df.dtypes

Order_ID            object
Agent_Age            int64
Agent_Rating       float64
Store_Latitude     float64
Store_Longitude    float64
Drop_Latitude      float64
Drop_Longitude     float64
Order_Date          object
Order_Time          object
Pickup_Time         object
Weather             object
Traffic             object
Vehicle             object
Area                object
Delivery_Time        int64
Category            object
dtype: object

In [23]:
# Get non-null counts
amazon_df.notnull().sum()

Order_ID           43739
Agent_Age          43739
Agent_Rating       43685
Store_Latitude     43739
Store_Longitude    43739
Drop_Latitude      43739
Drop_Longitude     43739
Order_Date         43739
Order_Time         43739
Pickup_Time        43739
Weather            43648
Traffic            43739
Vehicle            43739
Area               43739
Delivery_Time      43739
Category           43739
dtype: int64

In [ ]:
# Get number of unique values in each column
amazon_df.nunique()

Order_ID           43739
Agent_Age             22
Agent_Rating          28
Store_Latitude       521
Store_Longitude      415
Drop_Latitude       4367
Drop_Longitude      4367
Order_Date            44
Order_Time           177
Pickup_Time          193
Weather                6
Traffic                5
Vehicle                4
Area                   4
Delivery_Time         89
Category              16
dtype: int64

In [ ]:
# Get random sample of 5 rows to see example values
examples = amazon_df.sample(5)
examples

,Order_ID,Agent_Age,Agent_Rating,Store_Latitude,Store_Longitude,Drop_Latitude,Drop_Longitude,Order_Date,Order_Time,Pickup_Time,Weather,Traffic,Vehicle,Area,Delivery_Time,Category
30858,ysql652484304,35,4.6,12.310972,76.659264,12.380972,76.729264,2022-04-02,20:40:00,20:45:00,Sandstorms,Jam,motorcycle,Metropolitian,53,Grocery
20086,omei605786978,29,4.6,12.304569,76.643622,12.314569,76.653622,2022-03-11,08:10:00,08:25:00,Fog,Low,scooter,Urban,85,Skincare
649,xxor408538921,27,4.7,23.374878,85.335739,23.394878,85.355739,2022-03-03,08:20:00,08:30:00,Sandstorms,Low,scooter,Metropolitian,55,Sports
35425,digx266253552,23,4.0,18.592718,73.773572,18.612718,73.793572,2022-03-13,11:55:00,12:10:00,Fog,High,scooter,Metropolitian,160,Shoes
43033,nlsl993697678,30,4.3,22.311358,73.164798,22.361358,73.214798,2022-03-24,20:30:00,20:45:00,Windy,Jam,motorcycle,Metropolitian,180,Books

In [34]:
# Create summary table
summary_2 = pd.DataFrame({"Column name":amazon_df.columns, "Data type": amazon_df.dtypes, "Non-null count": amazon_df.notnull().sum(), "Unique values":amazon_df.nunique()})

summary_2["Examples"] = [
    ", ".join(map(str, examples[col].tolist()))
    for col in amazon_df.columns
]

summary_2 = summary_2.reset_index(drop=True)

markdown_table = summary_2.to_markdown(index=False)
print(markdown_table)

| Column name     | Data type   |   Non-null count |   Unique values | Examples                                                                  |
|:----------------|:------------|-----------------:|----------------:|:--------------------------------------------------------------------------|
| Order_ID        | object      |            43739 |           43739 | ysql652484304, omei605786978, xxor408538921, digx266253552, nlsl993697678 |
| Agent_Age       | int64       |            43739 |              22 | 35, 29, 27, 23, 30                                                        |
| Agent_Rating    | float64     |            43685 |              28 | 4.6, 4.6, 4.7, 4.0, 4.3                                                   |
| Store_Latitude  | float64     |            43739 |             521 | 12.310972, 12.304569, 23.374878, 18.592718, 22.311358                     |
| Store_Longitude | float64     |            43739 |             415 | 76.659264, 76.643622, 85.335739, 73.773572, 73.164798                     |
| Drop_Latitude   | float64     |            43739 |            4367 | 12.380972, 12.314569, 23.394878, 18.612718, 22.361358                     |
| Drop_Longitude  | float64     |            43739 |            4367 | 76.729264, 76.653622, 85.355739, 73.793572, 73.214798                     |
| Order_Date      | object      |            43739 |              44 | 2022-04-02, 2022-03-11, 2022-03-03, 2022-03-13, 2022-03-24                |
| Order_Time      | object      |            43739 |             177 | 20:40:00, 08:10:00, 08:20:00, 11:55:00, 20:30:00                          |
| Pickup_Time     | object      |            43739 |             193 | 20:45:00, 08:25:00, 08:30:00, 12:10:00, 20:45:00                          |
| Weather         | object      |            43648 |               6 | Sandstorms, Fog, Sandstorms, Fog, Windy                                   |
| Traffic         | object      |            43739 |               5 | Jam , Low , Low , High , Jam                                              |
| Vehicle         | object      |            43739 |               4 | motorcycle , scooter , scooter , scooter , motorcycle                     |
| Area            | object      |            43739 |               4 | Metropolitian , Urban , Metropolitian , Metropolitian , Metropolitian     |
| Delivery_Time   | int64       |            43739 |              89 | 53, 85, 55, 160, 180                                                      |
| Category        | object      |            43739 |              16 | Grocery, Skincare, Sports, Shoes, Books                                   |