In [103]:
# Basic EDA of two datasets
# Dataset 1: California Housing Prices

import kagglehub
import pandas as pd

# 1. Dataset overview
# Download latest version
path = kagglehub.dataset_download("camnugent/california-housing-prices")

print("Path to dataset files:", path)

Path to dataset files: C:\Users\sassa\.cache\kagglehub\datasets\camnugent\california-housing-prices\versions\1

In [104]:
# Name dataset
housing_df = pd.read_csv(f"{path}/housing.csv")

In [105]:
# Get rows and columns of dataset
housing_df.shape

(20640, 10)

In [106]:
# Get column names
housing_df.columns

Index(['longitude', 'latitude', 'housing_median_age', 'total_rooms',
       'total_bedrooms', 'population', 'households', 'median_income',
       'median_house_value', 'ocean_proximity'],
      dtype='object')

In [107]:
# Get column types
housing_df.dtypes

longitude             float64
latitude              float64
housing_median_age    float64
total_rooms           float64
total_bedrooms        float64
population            float64
households            float64
median_income         float64
median_house_value    float64
ocean_proximity        object
dtype: object

In [108]:
# Get non-null counts
housing_df.notnull().sum()

longitude             20640
latitude              20640
housing_median_age    20640
total_rooms           20640
total_bedrooms        20433
population            20640
households            20640
median_income         20640
median_house_value    20640
ocean_proximity       20640
dtype: int64

In [109]:
# Get number of unique values in each column
housing_df.nunique()

longitude               844
latitude                862
housing_median_age       52
total_rooms            5926
total_bedrooms         1923
population             3888
households             1815
median_income         12928
median_house_value     3842
ocean_proximity           5
dtype: int64

In [110]:
# Get random sample of 10 rows to see example values
housing_examples = housing_df.sample(5)
housing_examples

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
4698,-118.38,34.08,25.0,4625.0,1307.0,1739.0,1191.0,3.3989,485000.0,<1H OCEAN
17113,-122.18,37.47,37.0,2848.0,328.0,852.0,327.0,13.3670,500001.0,NEAR BAY
14781,-117.09,32.57,10.0,2198.0,368.0,1645.0,350.0,4.5547,160700.0,NEAR OCEAN
14715,-117.05,32.80,25.0,1905.0,250.0,865.0,253.0,6.4797,249000.0,<1H OCEAN
5771,-118.27,34.15,22.0,2265.0,637.0,1684.0,561.0,2.6729,217100.0,<1H OCEAN

In [111]:
# Create summary table
summary_1_2 = pd.DataFrame({"Column name":housing_df.columns, "Data type": housing_df.dtypes, "Non-null count": housing_df.notnull().sum(), "Unique values":housing_df.nunique()})

summary_1_2["Examples"] = [
    ", ".join(map(str, housing_examples[col].tolist()))
    for col in housing_df.columns
]

summary_1_2 = summary_1_2.reset_index(drop=True)

markdown_table1_2 = summary_1_2.to_markdown(index=False)
#print(markdown_table1_2)
print(markdown_table1_2)

| Column name        | Data type   |   Non-null count |   Unique values | Examples                                              |
|:-------------------|:------------|-----------------:|----------------:|:------------------------------------------------------|
| longitude          | float64     |            20640 |             844 | -118.38, -122.18, -117.09, -117.05, -118.27           |
| latitude           | float64     |            20640 |             862 | 34.08, 37.47, 32.57, 32.8, 34.15                      |
| housing_median_age | float64     |            20640 |              52 | 25.0, 37.0, 10.0, 25.0, 22.0                          |
| total_rooms        | float64     |            20640 |            5926 | 4625.0, 2848.0, 2198.0, 1905.0, 2265.0                |
| total_bedrooms     | float64     |            20433 |            1923 | 1307.0, 328.0, 368.0, 250.0, 637.0                    |
| population         | float64     |            20640 |            3888 | 1739.0, 852.0, 1645.0, 865.0, 1684.0                  |
| households         | float64     |            20640 |            1815 | 1191.0, 327.0, 350.0, 253.0, 561.0                    |
| median_income      | float64     |            20640 |           12928 | 3.3989, 13.367, 4.5547, 6.4797, 2.6729                |
| median_house_value | float64     |            20640 |            3842 | 485000.0, 500001.0, 160700.0, 249000.0, 217100.0      |
| ocean_proximity    | object      |            20640 |               5 | <1H OCEAN, NEAR BAY, NEAR OCEAN, <1H OCEAN, <1H OCEAN |

In [112]:
#Dataset 2: Amazon
#2. Structure of the data

# Download latest version
path_amazon = kagglehub.dataset_download("sujalsuthar/amazon-delivery-dataset")

print("Path to dataset files:", path_amazon)
amazon_df = pd.read_csv(f"{path_amazon}/Amazon_delivery.csv")

Path to dataset files: C:\Users\sassa\.cache\kagglehub\datasets\sujalsuthar\amazon-delivery-dataset\versions\1

In [113]:
# Get size of dataset
amazon_df.shape

(43739, 16)

In [114]:
# Name dataset
amazon_df = pd.read_csv(f"{path_amazon}/amazon_delivery.csv")

In [115]:
# Get column names
amazon_df.columns

Index(['Order_ID', 'Agent_Age', 'Agent_Rating', 'Store_Latitude',
       'Store_Longitude', 'Drop_Latitude', 'Drop_Longitude', 'Order_Date',
       'Order_Time', 'Pickup_Time', 'Weather', 'Traffic', 'Vehicle', 'Area',
       'Delivery_Time', 'Category'],
      dtype='object')

In [116]:
# Get column types
amazon_df.dtypes

Order_ID            object
Agent_Age            int64
Agent_Rating       float64
Store_Latitude     float64
Store_Longitude    float64
Drop_Latitude      float64
Drop_Longitude     float64
Order_Date          object
Order_Time          object
Pickup_Time         object
Weather             object
Traffic             object
Vehicle             object
Area                object
Delivery_Time        int64
Category            object
dtype: object

In [117]:
# Get non-null counts
amazon_df.notnull().sum()

Order_ID           43739
Agent_Age          43739
Agent_Rating       43685
Store_Latitude     43739
Store_Longitude    43739
Drop_Latitude      43739
Drop_Longitude     43739
Order_Date         43739
Order_Time         43739
Pickup_Time        43739
Weather            43648
Traffic            43739
Vehicle            43739
Area               43739
Delivery_Time      43739
Category           43739
dtype: int64

In [118]:
# Get number of unique values in each column
amazon_df.nunique()

Order_ID           43739
Agent_Age             22
Agent_Rating          28
Store_Latitude       521
Store_Longitude      415
Drop_Latitude       4367
Drop_Longitude      4367
Order_Date            44
Order_Time           177
Pickup_Time          193
Weather                6
Traffic                5
Vehicle                4
Area                   4
Delivery_Time         89
Category              16
dtype: int64

In [119]:
# Get random sample of 5 rows to see example values
examples = amazon_df.sample(5)
examples

,Order_ID,Agent_Age,Agent_Rating,Store_Latitude,Store_Longitude,Drop_Latitude,Drop_Longitude,Order_Date,Order_Time,Pickup_Time,Weather,Traffic,Vehicle,Area,Delivery_Time,Category
14604,ycky176183237,31,4.5,12.310972,76.659264,12.380972,76.729264,2022-03-23,22:10:00,22:25:00,Sandstorms,Low,scooter,Metropolitian,85,Jewelry
6357,znaq525848611,38,4.3,22.753839,75.897429,22.783839,75.927429,2022-03-30,21:10:00,21:20:00,Fog,Jam,van,Metropolitian,195,Clothing
788,rpge560994264,22,4.6,18.520016,73.830547,18.530016,73.840547,2022-03-28,09:20:00,09:30:00,Sunny,Low,motorcycle,Metropolitian,80,Outdoors
28454,ihas367566779,21,4.7,13.026286,80.275235,13.076286,80.325235,2022-04-03,18:55:00,19:00:00,Fog,Medium,motorcycle,Urban,135,Apparel
3614,jpou654965948,25,5.0,0.000000,0.000000,0.130000,0.130000,2022-03-02,19:50:00,20:00:00,Stormy,Jam,scooter,Urban,135,Sports

In [120]:
# Create summary table
summary_2_2 = pd.DataFrame({"Column name":amazon_df.columns, "Data type": amazon_df.dtypes, "Non-null count": amazon_df.notnull().sum(), "Unique values":amazon_df.nunique()})

summary_2_2["Examples"] = [
    ", ".join(map(str, examples[col].tolist()))
    for col in amazon_df.columns
]

summary_2_2 = summary_2_2.reset_index(drop=True)

markdown_table2_2 = summary_2_2.to_markdown(index=False)

#print(markdown_table2_2)
print(markdown_table2_2)

| Column name     | Data type   |   Non-null count |   Unique values | Examples                                                                  |
|:----------------|:------------|-----------------:|----------------:|:--------------------------------------------------------------------------|
| Order_ID        | object      |            43739 |           43739 | ycky176183237, znaq525848611, rpge560994264, ihas367566779, jpou654965948 |
| Agent_Age       | int64       |            43739 |              22 | 31, 38, 22, 21, 25                                                        |
| Agent_Rating    | float64     |            43685 |              28 | 4.5, 4.3, 4.6, 4.7, 5.0                                                   |
| Store_Latitude  | float64     |            43739 |             521 | 12.310972, 22.753839, 18.520016, 13.026286, 0.0                           |
| Store_Longitude | float64     |            43739 |             415 | 76.659264, 75.897429, 73.830547, 80.275235, 0.0                           |
| Drop_Latitude   | float64     |            43739 |            4367 | 12.380972, 22.783839, 18.530016, 13.076286, 0.13                          |
| Drop_Longitude  | float64     |            43739 |            4367 | 76.729264, 75.927429, 73.840547, 80.325235, 0.13                          |
| Order_Date      | object      |            43739 |              44 | 2022-03-23, 2022-03-30, 2022-03-28, 2022-04-03, 2022-03-02                |
| Order_Time      | object      |            43739 |             177 | 22:10:00, 21:10:00, 09:20:00, 18:55:00, 19:50:00                          |
| Pickup_Time     | object      |            43739 |             193 | 22:25:00, 21:20:00, 09:30:00, 19:00:00, 20:00:00                          |
| Weather         | object      |            43648 |               6 | Sandstorms, Fog, Sunny, Fog, Stormy                                       |
| Traffic         | object      |            43739 |               5 | Low , Jam , Low , Medium , Jam                                            |
| Vehicle         | object      |            43739 |               4 | scooter , van, motorcycle , motorcycle , scooter                          |
| Area            | object      |            43739 |               4 | Metropolitian , Metropolitian , Metropolitian , Urban , Urban             |
| Delivery_Time   | int64       |            43739 |              89 | 85, 195, 80, 135, 135                                                     |
| Category        | object      |            43739 |              16 | Jewelry, Clothing, Outdoors, Apparel, Sports                              |

In [121]:
#getting some descriptive statistics 
amazon_df.describe()

,Agent_Age,Agent_Rating,Store_Latitude,Store_Longitude,Drop_Latitude,Drop_Longitude,Delivery_Time
count,43739.000000,43685.000000,43739.000000,43739.000000,43739.000000,43739.000000,43739.000000
mean,29.567137,4.633780,17.210960,70.661177,17.459031,70.821842,124.905645
std,5.815155,0.334716,7.764225,21.475005,7.342950,21.153148,51.915451
min,15.000000,1.000000,-30.902872,-88.366217,0.010000,0.010000,10.000000
25%,25.000000,4.500000,12.933298,73.170283,12.985996,73.280000,90.000000
50%,30.000000,4.700000,18.551440,75.898497,18.633626,76.002574,125.000000
75%,35.000000,4.900000,22.732225,78.045359,22.785049,78.104095,160.000000
max,50.000000,6.000000,30.914057,88.433452,31.054057,88.563452,270.000000

In [ ]:
#converting to markdown format
markdown_table2_3_1 = amazon_df.describe().to_markdown()
# Print the markdown tables
print(markdown_table2_3_1)

|       |   Agent_Age |   Agent_Rating |   Store_Latitude |   Store_Longitude |   Drop_Latitude |   Drop_Longitude |   Delivery_Time |
|:------|------------:|---------------:|-----------------:|------------------:|----------------:|-----------------:|----------------:|
| count | 43739       |   43685        |      43739       |        43739      |     43739       |       43739      |      43739      |
| mean  |    29.5671  |       4.63378  |         17.211   |           70.6612 |        17.459   |          70.8218 |        124.906  |
| std   |     5.81516 |       0.334716 |          7.76423 |           21.475  |         7.34295 |          21.1531 |         51.9155 |
| min   |    15       |       1        |        -30.9029  |          -88.3662 |         0.01    |           0.01   |         10      |
| 25%   |    25       |       4.5      |         12.9333  |           73.1703 |        12.986   |          73.28   |         90      |
| 50%   |    30       |       4.7      |         18.5514  |           75.8985 |        18.6336  |          76.0026 |        125      |
| 75%   |    35       |       4.9      |         22.7322  |           78.0454 |        22.785   |          78.1041 |        160      |
| max   |    50       |       6        |         30.9141  |           88.4335 |        31.0541  |          88.5635 |        270      |

In [158]:
#getting basic descriptive statistics for categorical columns
cat_desc = amazon_df.describe(include="object")

# Rename the existing rows
cat_desc.rename(index={
    "count": "Count",
    "unique": "Number of unique values",
    "top": "Most frequent value",
    "freq": "Most frequent value (frequency)"
}, inplace=True)

# Add least frequent value and its frequency
cat_desc.loc["Least frequent value"] = amazon_df.apply(lambda x: x.value_counts().idxmin())
cat_desc.loc["Least frequent value (frequency)"] = amazon_df.apply(lambda x: x.value_counts().min())

# Display the result
cat_desc

,Order_ID,Order_Date,Order_Time,Pickup_Time,Weather,Traffic,Vehicle,Area,Category
Count,43739,43739,43739,43739,43648,43739,43739,43739,43739
Number of unique values,43739,44,177,193,6,5,4,4,16
Most frequent value,ialx566343618,2022-03-15,21:55:00,21:30:00,Fog,Low,motorcycle,Metropolitian,Electronics
Most frequent value (frequency),1,1141,460,481,7440,14999,25527,32698,2849
Least frequent value,ialx566343618,2022-02-18,16:30:00,16:20:00,Sunny,NaN,bicycle,Semi-Urban,Shoes
Least frequent value (frequency),1,819,51,36,7078,91,15,152,2666

In [ ]:
#converting to markdown format
markdown_table2_3_2 = cat_desc.to_markdown()

# Print the markdown tables
print(markdown_table2_3_2)

|                                  | Order_ID      | Order_Date   | Order_Time   | Pickup_Time   | Weather   | Traffic   | Vehicle    | Area          | Category    |
|:---------------------------------|:--------------|:-------------|:-------------|:--------------|:----------|:----------|:-----------|:--------------|:------------|
| Count                            | 43739         | 43739        | 43739        | 43739         | 43648     | 43739     | 43739      | 43739         | 43739       |
| Number of unique values          | 43739         | 44           | 177          | 193           | 6         | 5         | 4          | 4             | 16          |
| Most frequent value              | ialx566343618 | 2022-03-15   | 21:55:00     | 21:30:00      | Fog       | Low       | motorcycle | Metropolitian | Electronics |
| Most frequent value (frequency)  | 1             | 1141         | 460          | 481           | 7440      | 14999     | 25527      | 32698         | 2849        |
| Least frequent value             | ialx566343618 | 2022-02-18   | 16:30:00     | 16:20:00      | Sunny     | NaN       | bicycle    | Semi-Urban    | Shoes       |
| Least frequent value (frequency) | 1             | 819          | 51           | 36            | 7078      | 91        | 15         | 152           | 2666        |

In [165]:
# Missing values per column
missing_count = amazon_df.isnull().sum()
missing_percent = (missing_count / len(amazon_df)) * 100

# Duplicated rows
duplicated_count = amazon_df.duplicated().sum()
duplicated_percent = (duplicated_count / len(amazon_df)) * 100

# Create summary DataFrame for Markdown
missing_amazon_df = pd.DataFrame({
    "Column name": amazon_df.columns,
    "Missing count": missing_count,
    "% Missing": missing_percent
})

# Print table
print(missing_amazon_df)

# Print summary
print(f"\n**Total missing values:** {missing_count.sum()}")
print(f"**Percentage of dataset affected:** {(missing_count.sum() / (len(amazon_df)*len(amazon_df.columns)) * 100):.2f}%")
print(f"**Duplicated rows found:** {duplicated_count}")
print(f"**Percentage of rows in dataset affected:** {duplicated_percent:.2f}%")

                     Column name  Missing count  % Missing
Order_ID                Order_ID              0   0.000000
Agent_Age              Agent_Age              0   0.000000
Agent_Rating        Agent_Rating             54   0.123460
Store_Latitude    Store_Latitude              0   0.000000
Store_Longitude  Store_Longitude              0   0.000000
Drop_Latitude      Drop_Latitude              0   0.000000
Drop_Longitude    Drop_Longitude              0   0.000000
Order_Date            Order_Date              0   0.000000
Order_Time            Order_Time              0   0.000000
Pickup_Time          Pickup_Time              0   0.000000
Weather                  Weather             91   0.208052
Traffic                  Traffic              0   0.000000
Vehicle                  Vehicle              0   0.000000
Area                        Area              0   0.000000
Delivery_Time      Delivery_Time              0   0.000000
Category                Category              0   0.000000

**Total missing values:** 145
**Percentage of dataset affected:** 0.02%
**Duplicated rows found:** 0
**Percentage of rows in dataset affected:** 0.00%

In [167]:
#Convert to markdown format
print(missing_amazon_df.to_markdown(index=False))
# Print summary
print(f"\n**Total missing values:** {missing_count.sum()}")
print(f"**Percentage of dataset affected:** {(missing_count.sum() / (len(amazon_df)*len(amazon_df.columns)) * 100):.2f}%")
print(f"**Duplicated rows found:** {duplicated_count}")
print(f"**Percentage of rows in dataset affected:** {duplicated_percent:.2f}%")

| Column name     |   Missing count |   % Missing |
|:----------------|----------------:|------------:|
| Order_ID        |               0 |    0        |
| Agent_Age       |               0 |    0        |
| Agent_Rating    |              54 |    0.12346  |
| Store_Latitude  |               0 |    0        |
| Store_Longitude |               0 |    0        |
| Drop_Latitude   |               0 |    0        |
| Drop_Longitude  |               0 |    0        |
| Order_Date      |               0 |    0        |
| Order_Time      |               0 |    0        |
| Pickup_Time     |               0 |    0        |
| Weather         |              91 |    0.208052 |
| Traffic         |               0 |    0        |
| Vehicle         |               0 |    0        |
| Area            |               0 |    0        |
| Delivery_Time   |               0 |    0        |
| Category        |               0 |    0        |

**Total missing values:** 145
**Percentage of dataset affected:** 0.02%
**Duplicated rows found:** 0
**Percentage of rows in dataset affected:** 0.00%